.Banner {
    position: relative;
    background-color: var(--hover-color);
    color: var(--white-color);

    :global(.wrapper) {
        position: relative;
        z-index: 1;
        text-align: center;
        gap: var(--spacing-xl);
        align-items: center;
    }
    .Banner__description {
        max-width: 80ch;
    }
    .Banner__cta {
        --size: 48px;
        --corners: var(--corners-round);
        --background: unset;
        display: flex;
        padding-inline: calc(var(--size) * 0.5);
        min-width: var(--size);
        min-height: var(--size);
        border-radius: var(--corners);
        border: 2px solid var(--white-color);
        align-items: center;
        text-transform: uppercase;
    }
    .Banner__background {
        --background: var(--primary-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background: var(--background);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 0;
    }

    @media screen and (min-width: 600px) {
        padding-block-start: 120px;
    }
}