.Hero {
  background-image: url(../assets/images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 40px 24px;
  color: var(--white-color);

  :global(.wrapper) {
    position: relative;
    z-index: 1;
    align-items: center;
    gap: var(--spacing-xxl);
    text-align: center;

    .Hero__title {
      strong {
        position: relative;

        :global(.cta-arrow) {
          --size: clamp(56px, 10vw, 1em);
          width: var(--size);
          height: var(--size);
          object-fit: contain;
          position: absolute;
          top: 100%;
          right: 0%;
          transform: translateY(-1vw);
        }
      }
    }
  }

  .Hero__subtitle {
    line-height: 1.5;
    margin-inline: auto;
  }

  .PlayButton {
    --corners: var(--corners-round);
    --padding: var(--spacing-xs);
    display: none;
    gap: var(--spacing);
    background: rgba(255, 255, 255, 0.8);
    padding-inline-start: var(--spacing);
    color: var(--primary-color);

    :global(.icon) {
      --size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--corners-round);
      width: var(--size);
      height: var(--size);
      background: var(--primary-color);

      > * {
        --icon-size: calc(var(--size) * 0.6);
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }
  }

  // Media
  @media screen and (max-width: 600px) {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 30%;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(360deg, var(--primary-color), transparent);
      mix-blend-mode: multiply;
    }
  }
  @media screen and (min-width: 600px) {
    padding-inline: 40px;
    padding-block-start: 80px;
    padding-block-end: 128px;

    .Buscador__container {
      input {
        min-width: 34ch;
      }
    }

    .Hero__subtitle {
      font-size: 18px;
      max-width: 40ch;
    }

    .PlayButton {
      display: flex;
    }
  }
}
